.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: left;
    padding-right: 120px;
    padding-left: 120px;
    
}

.usefull_links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #b9b7b7 !important;
}
.title {
    margin-bottom: 15px;
}

.language, .currency {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
    
}

.language > select, .currency > select {
    border:  none;
    width: 100px;
    padding: 10px;
    outline-width: 0;  
    background-color: #f7f7f7;
}

.logo_section {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

a { 
    color: inherit;
    text-decoration: none;
    cursor: pointer; 
} 

.links {
    display: flex;
    justify-content: space-between;
}

.links > li {
    margin-left: 7px;
}

.credits {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

ul > li {
    color: gray;
    display: list-item;
    list-style: none;
    margin-bottom: 2px;
}

ul > li:hover {
    text-decoration: underline;
}

ul {
    padding-inline-start: 0px;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
}