.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header_icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.avatar {
    cursor: pointer;
}

.header_center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}


.header_center > input {
    border:  none;
    padding: 10px;
    /* to remove to default outline */
    outline-width: 0;
    /* width: 250px; */    
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    margin-right: 80px;
}

.text, .language_icons {
    padding: 10px 10px 5px 10px;
    height: 30px;
    border-radius: 40px;
    margin-top: 5px;
}

.text:hover, .language_icons:hover {
    background-color:#e0e0e0;
    cursor: pointer;
}