.search {
    position: absolute;
    top: 35px;
    left: 25%;
    box-shadow: 5px 5px 10px lightgray;
}

.guests > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    margin-block-end: 0px !important;
    margin-block-start: 0px !important;
}

.guests > .input_wrapper > input {
    width: 539px;
    padding: 10px;
    height: 30px;
    border: none;
}

.guests > .input_wrapper > input:focus {
    outline-width: 0;
}

.input_wrapper {
    border-radius: 4px;
    margin: 10px;
    border: 1px solid lightgray !important;
    overflow: hidden;
}

.guests > button {
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 8px;
    border-radius: 4px;
  }

.guests > button:hover {
    background-color: white;
    color: #ff7779;
}

.guests {
    position: absolute;
    top: 350px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 5px 5px 10px lightgray;
    width: 100%;
}